
* {
  font-family: "Lato";
}

.unauth-container, 
.unauth-container {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  transition-delay: .5s;
}

.making-api-request {
  cursor: wait !important;
  opacity: .4;
}

.making-api-request button:hover {
  cursor: wait !important;
}

.making-api-request input {
  pointer-events: none;
}

.error {
  color: #aa0000;
}

.error-message {
  color: #aa0000;
  margin-top: 30px;
  line-height: 20px;
}

.muted {
  color: #6c757d;
}

.styled-button {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 0 20px 0 rgba(0,0,0,0.19);  
    border: none;
    color: #ffffff;
    background-color: #79b1ff;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in;
    letter-spacing: 1px;
    cursor: pointer;
}

.styled-button:hover {
  background-color: #ffffff;
  color: #79b1ff;
}

.styled-button:disabled
{
  color: #ffffff !important;
  background-color: #aaaaaa;
  cursor: wait; 
}

.making-api-request .styled-button {
  background-color: #aaaaaa;
  color: #ffffff;    
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(-12px, 2px) scale(0.7);
  color: #79b1ff;
}

.input-container .filled {
  transform: translate(-12px, 2px) scale(0.7);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 18px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #bbbbbb;
  font-size: 20px;
  line-height: 1;
  left: 16px;
  padding: 3px;
}

.input-container input {
  height: 64px;
  border: none;
  padding: 12px 16px 2px 16px;
  font-size: 20px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: solid 3px #eeeeee;
  transition: all 200ms ease-in;
}

.input-container input:focus {
  border-bottom: solid 3px #79b1ff;
}

form.form-error .input-container input {
  border-bottom: solid 3px #aa0000;
  background-color: #ffeeee;
}

form.form-error .input-container input {
  border-bottom: solid 2px #aa0000;
}

form.form-error .input-container label {
  color: #aa0000;
}

.unauth-container .login,
.unauth-container .image {
  min-height: 100vh;
}

.unauth-container .bg-image {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.hidden {
  display: none;
}

.bg-light-ex {
  background-color: #eeeeee !important;
}

.unauth-container form {
  margin-top: 50px;
  margin-bottom: 30px;
}

.unauth-container .input-container {
  margin-bottom: 40px;
}

.unauth-container button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.unauth-container .form-check {
  display: none;
}

.unauth-container .not-registered {
  margin-top: 60px;
}

.simple-link {
  color: #498dee;
  cursor: pointer;
  text-decoration: none;
}

.simple-link:hover {
  xcolor: #2d6cc5;
  text-decoration: underline;
}

.top-bar {
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.top-bar .status-bars {
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 13px;
}

.top-bar .status-bar {
  height: 14px;
  min-height: 14px;
  width: 150px;
  background-color: #555555;
  position: relative;
  margin-bottom: 7px;
}


.top-bar .status-bar .status-bar-complete
{
  background-color:#79b1ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
}

.not-authenticated {
  display: none;
}

.top-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  max-height: 0;
  width: 100%;
  transition: all 500ms ease-in-out;
  background-color:#79b1ff;
  padding: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  z-index: 100;
  opacity: 0;
}

.top-modal-frame,
.top-modal-content {
  overflow: auto;
  position: relative; 
}

.top-modal-frame {
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-y: visible;
  width: 100%;
  padding: 16px 20px 16px 20px;
}

.top-modal-buttons 
{
  position: absolute;
  right: 20px;
  top: 15px;
}

.top-modal-buttons .button
{
  display: inline;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  color: #79b1ff;
  border-radius: 4px;
}

.top-modal-buttons .button:last-child {
  margin-left: .5em;
  border: solid 1px #ffffff;
  background-color: #79b1ff;
  color: #ffffff;
}

.top-modal.is-open {        
    max-height: 60px;
    opacity: 1;
}

.status-bar .icon {
  position: absolute;
  left: -28px;
  top: -4px;
  font-size: 15px;
  color: #79b1ff;
  width: 19px;
  text-align: right;
  transition: all 1s ease-in-out;  
}

.status-bar .icon svg.strobe {
  
  animation: strobe 500ms ease-in-out infinite;
}

@keyframes strobe {
  0% {
    color: #79b1ff;
  }  
  50% {
    color: #555555;
  }
}

#social-login-buttons {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

#social-login-buttons #google-login-button div:first-child {
  opacity: 0;
  overflow: hidden;
}

#google-login-button,
#apple-login-button
{
  position: relative;
  margin-top: 40px;
  
}

#google-login-override,
#apple-login-override {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  color: #999999 !important;
  top: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-x: 14px;
  background-position-y: 12px;
}

#apple-login-override {
  pointer-events: all;
  cursor: pointer;
}

#google-login-button:hover > #google-login-override,
#apple-login-button:hover > #apple-login-override
{
  background-color: #79b1ff !important;
  color: #ffffff !important; 
}

#google-login-override {
  background-image: url("/social/google.png");
}

#apple-login-override {
  background-image: url("/social/apple.png");
}

.or-block { 
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #555555; 
  line-height: 0.1em; 
  margin: 30px 0 60px;
  color: #555555
} 

.or-block span { 
  background: #eeeeee; 
  padding: 0 10px; 
}

.password-reset {
  margin-top: 30px;
}