@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: "Open Sans";
}

.unauth-container, 
.unauth-container {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  transition-delay: .5s;
}

.making-api-request {
  cursor: wait !important;
  opacity: .4;
}

.making-api-request button:hover {
  cursor: wait !important;
}

.making-api-request input {
  pointer-events: none;
}

.error {
  color: #aa0000;
}

.error-message {
  color: #aa0000;
  margin-top: 30px;
  line-height: 20px;
}

.muted {
  color: #6c757d;
}

.styled-button {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 0 20px 0 rgba(0,0,0,0.19);  
    border: none;
    color: #ffffff;
    background-color: #79b1ff;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in;
    letter-spacing: 1px;
    cursor: pointer;
}

.styled-button:hover {
  background-color: #ffffff;
  color: #79b1ff;
}

.styled-button:disabled
{
  color: #ffffff !important;
  background-color: #aaaaaa;
  cursor: wait; 
}

.making-api-request .styled-button {
  background-color: #aaaaaa;
  color: #ffffff;    
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(-12px, 2px) scale(0.7);
  color: #79b1ff;
}

.input-container .filled {
  transform: translate(-12px, 2px) scale(0.7);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 18px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #bbbbbb;
  font-size: 20px;
  line-height: 1;
  left: 16px;
  padding: 3px;
}

.input-container input {
  height: 64px;
  border: none;
  padding: 12px 16px 2px 16px;
  font-size: 20px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: solid 3px #eeeeee;
  transition: all 200ms ease-in;
}

.input-container input:focus {
  border-bottom: solid 3px #79b1ff;
}

form.form-error .input-container input {
  border-bottom: solid 3px #aa0000;
  background-color: #ffeeee;
}

form.form-error .input-container input {
  border-bottom: solid 2px #aa0000;
}

form.form-error .input-container label {
  color: #aa0000;
}

.unauth-container .login,
.unauth-container .image {
  min-height: 100vh;
}

.unauth-container .bg-image {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.hidden {
  display: none;
}

.bg-light-ex {
  background-color: #eeeeee !important;
}

.unauth-container form {
  margin-top: 50px;
  margin-bottom: 30px;
}

.unauth-container .input-container {
  margin-bottom: 40px;
}

.unauth-container button {
  margin-top: 20px;
  margin-bottom: 30px;
}

.unauth-container .form-check {
  display: none;
}

.unauth-container .not-registered {
  margin-top: 60px;
}

.simple-link {
  color: #498dee;
  cursor: pointer;
  text-decoration: none;
}

.simple-link:hover {
  xcolor: #2d6cc5;
  text-decoration: underline;
}

.top-bar {  
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #000000;
  color: #ffffff;
  position: fixed;
}

.side-bar .status-bars {
  position: absolute;
  right: 45px;
  bottom: 20px;
}

.side-bar .status-bar {
  height: 14px;
  min-height: 14px;
  width: 135px;
  background-color: #777777;
  position: relative;
  margin-bottom: 20px;
}

.side-bar .status-bar .status-bar-complete
{
  background-color:#ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
}

.not-authenticated {
  display: none;
}

.top-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  max-height: 0;
  width: 100%;
  transition: all 500ms ease-in-out;
  background-color:#79b1ff;
  padding: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  overflow: hidden;
  z-index: 100;
  opacity: 0;
}

.top-modal-frame,
.top-modal-content {
  overflow: auto;
  position: relative; 
}

.top-modal-frame {
  flex-direction: column;
  overflow: hidden;
  -ms-overflow-y: visible;
  width: 100%;
  padding: 16px 20px 16px 20px;
}

.top-modal-buttons 
{
  position: absolute;
  right: 20px;
  top: 13px;
}

.top-modal-buttons .button
{
  display: inline;
  border: solid 2px #ffffff;
  background-color: #ffffff;
  color: #79b1ff;
  border-radius: 4px;
  padding: 5px 6px 6px 6px;
  font-size: 14px;
  font-weight: 600;
  width: 130px;
  transition: all .2s;
  vertical-align: top;
}

.top-modal-buttons .button:hover
{
  background-color: #79b1ff;
  color: #ffffff;
}

.top-modal-buttons .button:last-child {
  margin-left: .5em;
  border: solid 2px #ffffff;
  background-color: #79b1ff;
  color: #ffffff;
}

.top-modal.is-open {        
    max-height: 60px;
    opacity: 1;
}

.status-bar .icon {
  position: absolute;
  left: -33px;
  top: -4px;
  font-size: 15px;
  color: #ffffff;
  width: 19px;
  text-align: right;
  transition: all 1s ease-in-out;  
}

.status-bar.strobe .status-bar-complete {  
  animation: strobe-background 500ms ease-in-out infinite;
}

.status-bar.strobe .icon svg {  
  animation: strobe 500ms ease-in-out infinite;
}

@keyframes strobe {
  0% {
    color: #999999;
  }  
  50% {
    color: #ffffff;
  }
  100% {
    color: #999999;
  }  
}

@keyframes strobe-background {
  0% {
    background-color: #999999;
  }  
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: #999999;
  }  
}

#social-login-buttons {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

#social-login-buttons #google-login-button div:first-child {
  opacity: 0;
  overflow: hidden;
}

#google-login-button,
#apple-login-button
{
  position: relative;
  margin-top: 40px;
  
}

#google-login-override,
#apple-login-override {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  color: #999999 !important;
  top: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-x: 14px;
  background-position-y: 12px;
}

#apple-login-override {
  pointer-events: all;
  cursor: pointer;
}

#google-login-button:hover > #google-login-override,
#apple-login-button:hover > #apple-login-override
{
  background-color: #79b1ff !important;
  color: #ffffff !important; 
}

#google-login-override {
  background-image: url("/social/google.png");
}

#apple-login-override {
  background-image: url("/social/apple.png");
}

.or-block { 
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #555555; 
  line-height: 0.1em; 
  margin: 30px 0 60px;
  color: #555555
} 

.or-block span { 
  background: #eeeeee; 
  padding: 0 10px; 
}

.password-reset {
  margin-top: 30px;
}

.sort-icon {
  padding-left: 10px;
  padding-top: 1px;
}

.table {
  width: 100%;
  font-size: 14px;  
}

.table .search-terms {
  border: solid 1px #555555;
  border-radius: 5px;
  outline: none;
  width: 20%;
  padding: 5px 10px 5px 10px;
  float: right;
}

.table .search-terms:focus,
.table .search-terms:focus-visible {
 border: solid 1px #79b1ff;
 outline: none;
}

.table table {
  width: 100%;
}

.table table td {
  font-size: 14px;
  padding: 5px 0 5px 10px;
}


.table table th span {
  position: relative;
  left: -1px;
}


.table table th span {
  cursor: pointer;
  padding: 5px 0 5px 10px;
}

.table table th span.icon {
  
  padding: 5px 0 5px 0;
}

.table table th span:hover  {
  color: #95A2FF;
}

.table table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table table tbody tr {
  cursor: pointer;
}

.table table tbody tr:hover {
  background-color: #D7EEFF;
}

.table .header {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table .header .caption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  font-weight: 700;
  font-size: 27px;
}

.table .header input {
 
}

.table .search-terms-icon {
  position: absolute;
  right: 3px;
  top: 1px;
}

.side-bar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .3);
  z-index: 99;
  background-color: #444444 !important;
  color: #ffffff;
  width: 250px !important;
  display: block !important;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0,0,0,0.75);
  clip-path: inset(0px -12px 0px 0px);
}

.side-bar.collapsed {
  left: -205px;
}

.side-bar.collapsed .collapse-button {
   transform: rotate(180deg);
}

@media (max-width: 767.98px) {
  .side-bar {
    top: 11.5rem;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .navbar {
    top: 0;
    position: sticky;
    z-index: 999;
  }
}

.side-bar .nav-link {
  color: #ffffff;
  position: relative;
}

.side-bar .nav-link .icon {
  display: inline-block;
  width: 40px;
  text-align: center;
  position: relative;
  top: 1px;
}

.side-bar .nav-link:visited {
  color: #ffffff;
}

.side-bar .nav-link.active {
  color: #79b1ff;
}

.side-bar .nav-link:hover {
  color: #79b1ff;
}
  
.auth-container main {
  padding-left: 285px;
  padding-top: 55px;
  padding-right: 30px;
}

.nav.flex-column {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
}

.side-bar .position-sticky {
  padding-top: 10px !important;
}

.side-bar .collapse-button {
  position: absolute;
  top: 10px;
  right: 16px;
  cursor: pointer;
  z-index: 999;
  transition: .3s;
}

.top-bar-buttons {
  position: absolute;
  right: 20px;
  top: 13px;
}

.top-bar-buttons button {
  display: inline;
  border: solid 2px #ffffff;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  padding: 4px 6px 7px 6px;
  font-size: 14px;
  width: 100px;
  transition: all .2s;  
  vertical-align: top;
  font-weight: 600;
}

.top-bar-buttons button:hover {
  background-color: #ffffff;
  color: #000000;
}

.top-bar-buttons .icon-circle {
  width: 37px;
  height: 37px;
  border: solid 2px #ffffff;
  border-radius: 37px;
  background-color: #ffffff;
  display: inline-block;
  transition: all .2s;
  margin-right: 14px;
}

.top-bar-buttons span.icon {
  position: relative;
  display: inline-block;
  font-size: 19px;
  vertical-align: top;
  cursor: pointer;
  transition: all .2s;
  color: #000000;
  text-align: center;
  width: 35px;
  left: -1px;
  top: 2px;
  transition: all .2s;
}

.top-bar-buttons .icon-circle:hover {
  background-color: #000000;
}

.top-bar-buttons .icon-circle:hover span.icon {
  color: #ffffff;
}