/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: "Lato";
}

.error {
  color: #aa0000;
}

.error-message {
  color: #aa0000;
  margin-top: 30px;
  line-height: 20px;
}

.muted {
  color: #6c757d;
}

.styled-button {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 0 20px 0 rgba(0,0,0,0.19);  
    border:none;
    color: #fff;
    background-color: #79b1ff;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .2s ease-in;
}

.styled-button:hover {
  background-color: #fff;
  color: #79b1ff;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(-12px, 2px) scale(0.7);
  color: #79b1ff;
}

.input-container .filled {
  transform: translate(-12px, 2px) scale(0.7);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 18px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #bbbbbb;
  font-size: 20px;
  line-height: 1;
  left: 16px;
  padding: 3px;
}

.input-container input {
  height: 64px;
  border: none;
  padding: 12px 16px 2px 16px;
  font-size: 20px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: solid 3px #eeeeee;
  transition: all 200ms ease-in;
}

.input-container input:focus {
  border-bottom: solid 3px #79b1ff;
}

form.form-error .input-container input {
  border-bottom: solid 3px #aa0000;
  background-color: #ffeeee;
}

form.form-error .input-container input {
  border-bottom: solid 2px #aa0000;
}

form.form-error .input-container label {
  color: #aa0000;
}

.unauth-container .login,
.unauth-container .image {
  min-height: 100vh;
}

.unauth-container .bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.styled-button:disabled
{
  color: #ffffff !important;
  background-color: #aaaaaa;
  cursor:wait;
}

#register form
{
  margin-top: 0;
}

form.hidden {
  display: none;
}

.bg-light-ex {
  background-color: #eeeeee !important;
}

.unauth-container form {
  margin-top: 50px;
  margin-bottom: 30px;
}

.unauth-container .input-container {
  margin-top: 40px;
}

.unauth-container button 
{
  margin-top: 40px;
  margin-bottom: 30px;
}

.unauth-container .form-check
{
  display: none;
}

.unauth-container .not-registered 
{
  margin-top: 30px;
}

.unauth-container a
{
  color: #498dee;
  cursor: pointer;
  text-decoration: none;
}

.unauth-container a:hover
{
  color: #2d6cc5;
  text-decoration: underline;
}

.unauth-container .styled-button {
    color: #ffffff;
    display: block;
}

.unauth-container .styled-button:hover {
  color: #79b1ff;
  display: block;
  text-decoration: none;
}

.top-bar {
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

.top-bar .status-bars {
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 26px;
}

.top-bar .status-bar {
  height: 10px;
  min-height: 10px;
  width: 150px;
  background-color: #555555;
  position: relative;
}

.top-bar .status-bar .status-bar-complete
{
  background-color:#79b1ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
}

.not-authenticated {
  display: none;
}